body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc;
}

section {
    display: none; /* Hide all sections by default */
    margin-bottom: 40px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#about-me h2 {
    font-size: 2em; /* Double the font size of "About Me" heading */
}

#about-me {
    font-size: 2em; /* Double the font size of the "About Me" section */
}



#contact h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 4em;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact li {
    margin-bottom: 20px;
}

#contact h4 {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 3em;
    
}

#contact p {
    font-size: 2em;
}

#about-me .introduction h3,
#about-me .education h3,
#about-me .passion-interests h3 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 1.8em;
}

#about-me .introduction p,
#about-me .education p,
#about-me .passion-interests p {
    font-size: 0.8em; /* Adjust the font size for the content */
    margin-bottom: 10px; /* Add margin to separate paragraphs */
}


#about-me .introduction ul,
#about-me .education ul {
    list-style-type: none;
    padding: 0;
}

#about-me .introduction li,
#about-me .education li {
    margin-bottom: 20px;
}

#about-me .introduction h4,
#about-me .education h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

.active {
    display: block; /* Show only the active section */
}


#about-me .passion-interests ul {
    list-style-type: none;
    padding: 0;
}

#about-me .passion-interests li {
    margin-bottom: 10px;
}

#about-me .passion-interests h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

#skills-achievements h2 {
    font-size: 4em;
}

#skills-achievements .data-structures h3,
#skills-achievements .languages h3 {
    font-size: 3em; /* Set the font size for the headers */
    text-decoration: underline;
    text-decoration-thickness: 2px;
    margin-bottom: 10px;
}

#skills-achievements .data-structures p,
#skills-achievements .languages p {
    font-size: 1.7em;
    line-height: 2; 
    margin-bottom: 10px;/* Set the font size for the content */
}

#home {
    text-align: center;
    font-size: 3em; /* Set the font size to extra large */
    margin-top: 20vh; /* Adjust the margin to center vertically */
}

/* Hide all sections by default */
.section {
    display: none;
}

/* Show only the active section */
.section.active {
    display: block;
    animation: fadeInOut 0.5s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li:last-child {
    margin-right: 0;
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffcc00; /* Highlight color */
    transition: width 0.3s ease; /* Smooth transition effect */
    z-index: -1; /* Behind the text */
}

.nav-active {
    color: #ffcc00; /* Highlight color */
}

.section-link {
    position: relative;
    z-index: 1; /* Above the highlight */
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.section-link:hover {
    color: #ffcc00; /* Highlight color on hover */
}






